<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_02_Pandas Data Cleaning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [3]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## ðŸŸ© Remove Rows with Missing Values (2.2.1)

In [4]:
df_unique = df['salary_year_avg'].dropna()

# df_unique = df.dropna(subset=['salary_year_avg'])  ---- other way ----

In [5]:
print('Count of df       :', len(df))
print('Count of df_unique:', len(df_unique))
print('Rows droped       :', len(df)-len(df_unique))

Count of df       : 785741
Count of df_unique: 22003
Rows droped       : 763738

---

## ðŸŸ¨ Remove Duplicate Rows (2.2.2)

In [6]:
rows_before = df.shape[0]         

rows_before

785741

In [7]:
remove_duplicates = df.drop_duplicates(subset=['job_location'])

rows_after = remove_duplicates.shape[0]

rows_after

17218

---

## ðŸŸ¨ Fill Missing Values in Column (2.2.3)

In [8]:
salary_rate_before = df['salary_rate'].head(10)

---

In [9]:
df_filled = df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_filled['salary_rate'].head(10)


salary_rate_before, salary_rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)